#users-content.col-xs-8
  = render 'users/header'
  .list-group
    - if @user.favorites.empty?
      .list-group-item
        まだお気に入りに登録されたツイートはありません
    = render partial: "users/tweet", collection: @user.favorites.map{|f| f.tweet}
